---

---

<footer>
    <p>footer</p>
</footer>

<style>
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        z-index: 1000;
        background-color: var(--color-secondary);
    }
</style>