---
import config from '../config.js'
---

<footer>
    <p>Datack carto template</p>
</footer>

<style>
    footer {
        padding: 10px var(--gridMargin);
        z-index: 1000;
        background-color: var(--colorSecondary);
        color: var(--colorWhite);
    }
</style>