---
---

<header>
    <a href="/">
        <img class='logo' src='/logo.png'>
    </a>
</header>

<style>
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px var(--gridMargin);
        z-index: 1000;
    }

    .logo {
        width: 130px;
    }
</style>