---
import dayjs from 'dayjs'
const { data } = Astro.props
---

<ul class='container'>
    {data.map((item) => (
        <li class='article'>
            <p>{dayjs(item.date).format('D MMMM')}</p>
            <h2>{item.name}</h2>

        </li>
    ))}
</ul>

<style>
    .container {
        z-index: 1000;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 0;
        display: flex;
    }
    .article {
        width: 20vw;
        background-color: var(--colorWhite);
        margin-right: 20px;
        padding: 20px;
    }
</style>